.navbar {
  margin-top:0;
  min-height: 80px;
  position: fixed;
  width: 100%;
  color: rgb(255, 255, 255);
  font-size: 3rem;
  white-space: nowrap;
}

.navbar ul {
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline-block;
  padding: 30px 0;
  width: 33%;
  text-align: center;
}


